.button {
    position: fixed;
    bottom:150px;
    right: 150px;
  }
  
  .button button {
    padding: 8px 60px;
    background-color: #14378F;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Khand', sans-serif; 
  }
  
  .button button:hover {
    background-color: #7a94d4;
  }
  
  .button button:active {
    background-color: #3e8e41;
  }