.page-title-container {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #14378F;
  
  
}

.icon {
  margin-left: 100px;
  font-size: 50px;
  color: #14378f;
  transform: rotate(90deg) scaleY(1.5);
}

.page-title {
  font-family: 'Kavoon', cursive;
  color: #14378F;
  text-align: center;
  font-size: 50px;
  margin-left: -100px;
  margin-block: 10px;
  padding-bottom: 10px;
  width: 100%;

}


